In [63]:
import pandas as pd
from pandas import DataFrame

df = pd.read_csv("house.csv")
print(df.columns)

Index([u'Unnamed: 0', u'amount', u'candidacy_status', u'committee_ext_id',
       u'committee_name', u'committee_party', u'contributor_address',
       u'contributor_category', u'contributor_city', u'contributor_employer',
       u'contributor_ext_id', u'contributor_gender', u'contributor_name',
       u'contributor_occupation', u'contributor_state', u'contributor_type',
       u'contributor_zipcode', u'cycle', u'date', u'district',
       u'district_held', u'filing_id', u'is_amendment', u'organization_ext_id',
       u'organization_name', u'parent_organization_ext_id',
       u'parent_organization_name', u'recipient_category', u'recipient_ext_id',
       u'recipient_name', u'recipient_party', u'recipient_state',
       u'recipient_state_held', u'recipient_type', u'seat', u'seat_held',
       u'seat_result', u'seat_status', u'transaction_id',
       u'transaction_namespace', u'transaction_type',
       u'transaction_type_description'],
      dtype='object')

In [64]:
# delete unnecessary data
df.drop(df.columns[[0,2,3,4,5,6,7,8,9,10,11,13,14,15,17,19,20,21,22,23,24,25,26, 27,28,31,32,33,34,35,36,37,38,39,40,41]], axis=1, inplace=True)
print(df.columns)

Index([u'amount', u'contributor_name', u'contributor_zipcode', u'date',
       u'recipient_name', u'recipient_party'],
      dtype='object')

In [65]:
df.head(10)

,amount,contributor_name,contributor_zipcode,date,recipient_name,recipient_party
0,40000,"Evans, James S",65738,2014-03-07,James S. Evans (D),D
1,30000,"LIEBER, ARTHUR H",63141,2014-10-09,Arthur Henry Lieber (D),D
2,15000,Friends of Jim Evans,65738,2014-11-20,James S. Evans (D),D
3,15000,"Hedge, Bill",64506,2014-10-24,Bill Hedge (D),D
4,12118,Susan B Anthony List,NaN,2014-04-04,Vicky Hartzler (R),R
5,10400,"WARD, THOMAS",64112,2013-09-30,Vicky Hartzler (R),R
6,10000,"JACOBY, TED",63127,2013-03-25,Vicky Hartzler (R),R
7,10000,"Stocker, Barbara Hamill",63020,2014-03-04,Barbara Hamill Stocker (D),D
8,10000,"HOWSER, DONALD",65203,2013-02-25,Vicky Hartzler (R),R
9,9000,"Hedge, Bill",64506,2014-04-19,Bill Hedge (D),D

In [66]:
# sort democrats
dataD = df[df.recipient_party.str.contains('D').fillna(False)]
dataD = dataD.groupby(['recipient_name', "recipient_party"])[['amount']].sum()
dataD['amount'] = dataD['amount'] / 1000
print dataD.head(30)

                                            amount
recipient_name             recipient_party
Arthur Henry Lieber (D)    D                  30.0
Barbara Hamill Stocker (D) D                  58.4
Bill Hedge (D)             D                  29.0
Emanuel Cleaver (D)        D                 225.1
Jack Rushin (D)            D                   3.0
James S. Evans (D)         D                  75.2
Nate Irvin (D)             D                   2.6
Russ Carnahan (D)          D                   5.0
Steve Hodges (D)           D                  38.8
Todd Mahn (D)              D                   5.0
William L. Clay Jr (D)     D                 137.0

In [67]:
# sort republicans
dataR = df[df.recipient_party.str.contains('R').fillna(False)]
dataR = dataR.groupby(['recipient_name', "recipient_party"])[['amount']].sum()
dataR['amount'] = dataR['amount'] / 1000
print dataR.head(30)

                                         amount
recipient_name         recipient_party
Ann L. Wagner (R)      R                958.250
Billy Long (R)         R                382.140
Blaine Luetkemeyer (R) R                480.400
Jacob Turk (R)         R                 15.500
Jason Smith (R)        R                495.233
Jo Ann Emerson (R)     R                  3.000
Roy Blunt (R)          R                 30.500
Sam Graves (R)         R                307.200
Vicky Hartzler (R)     R                430.318

In [68]:
HDcsv = dataD.to_csv("HD.csv")
HRcsv = dataR.to_csv("HR.csv")