In [76]:
import pandas as pd
from pandas import DataFrame

df= pd.read_csv("senate.csv")

In [77]:
print(df.columns)

Index([u'cycle', u'transaction_namespace', u'transaction_id',
       u'transaction_type', u'transaction_type_description', u'filing_id',
       u'is_amendment', u'amount', u'date', u'contributor_name',
       u'contributor_ext_id', u'contributor_type', u'contributor_occupation',
       u'contributor_employer', u'contributor_gender', u'contributor_address',
       u'contributor_city', u'contributor_state', u'contributor_zipcode',
       u'contributor_category', u'organization_name', u'organization_ext_id',
       u'parent_organization_name', u'parent_organization_ext_id',
       u'recipient_name', u'recipient_ext_id', u'recipient_party',
       u'recipient_type', u'recipient_state', u'recipient_state_held',
       u'recipient_category', u'committee_name', u'committee_ext_id',
       u'committee_party', u'candidacy_status', u'district', u'district_held',
       u'seat', u'seat_held', u'seat_status', u'seat_result'],
      dtype='object')

In [78]:
# delete unnecessary data
df.drop(df.columns[[0,1,2,3,4,5,6,10,11,12,13,14,15, 16, 17, 19,20,21,22,23,25, 27,28,29,30,31,32,33,34,35,36,37,38,39,40]], axis=1, inplace=True)
print(df.columns)

Index([u'amount', u'date', u'contributor_name', u'contributor_zipcode',
       u'recipient_name', u'recipient_party'],
      dtype='object')

In [79]:
df.head(10)

,amount,date,contributor_name,contributor_zipcode,recipient_name,recipient_party
0,30000,2013-09-30,McCaskill Senate Fund,63130,Claire McCaskill (D),D
1,30000,2013-10-03,McCaskill Senate Fund,63130,Claire McCaskill (D),D
2,25000,2013-06-25,Todd Akin for Senate,63038,Todd Akin (R),R
3,22221,2013-06-30,Brunner for Senate,63141,John Brunner (R),R
4,20000,2014-01-14,McCaskill for Missouri,63130,Claire McCaskill (D),D
5,15000,2013-12-31,McCaskill Senate Fund,63130,Claire McCaskill (D),D
6,15000,2013-12-31,McCaskill Senate Fund,63130,Claire McCaskill (D),D
7,14000,2013-11-20,Missouri Senate,20002,Claire McCaskill (D),D
8,14000,2013-10-31,Missouri Senate,63130,Claire McCaskill (D),D
9,12000,2013-12-18,Missouri Victory Fund,63130,Claire McCaskill (D),D

In [80]:
# sort democrats
dataD = df[df.recipient_party.str.contains('D').fillna(False)]
dataD = dataD.groupby(['recipient_name', "recipient_party"])[['amount']].sum()
dataD['amount'] = dataD['amount'] / 1000
print dataD.head(30)

                                       amount
recipient_name       recipient_party
Claire McCaskill (D) D                501.687

In [81]:
# sort republicans
dataR = df[df.recipient_party.str.contains('R').fillna(False)]
dataR = dataR.groupby(['recipient_name', "recipient_party"])[['amount']].sum()
dataR['amount'] = dataR['amount'] / 1000
print dataR.head(30)

                                         amount
recipient_name        recipient_party
John Brunner (R)      R                  29.721
Roy Blunt (R)         R                2262.120
Sarah H. Steelman (R) R                   9.000
Todd Akin (R)         R                 133.195

In [82]:
SDcsv = dataD.to_csv("SD.csv")
SRcsv = dataR.to_csv("SR.csv")